/* line 6, ../scss/checknmate.scss */
.side-menu {
  top: 151px;
}

/* line 10, ../scss/checknmate.scss */
.list-sidemenu {
  color: #F6F1ED;
  background-color: transparent;
  text-align: center;
  margin-top: 5px;
}
/* line 15, ../scss/checknmate.scss */
.list-sidemenu .list-item-sidemenu {
  background-color: transparent;
  border: 0px;
  padding-left: 0px;
  padding: 0px;
}
/* line 20, ../scss/checknmate.scss */
.list-sidemenu .list-item-sidemenu .list-item-text {
  width: 95px;
  height: inherit;
  border-bottom: 1.5px solid #6B6E75;
  overflow: auto;
  line-height: 40px;
  display: inline-block;
}

/* line 31, ../scss/checknmate.scss */
.side-menu-container {
  background-color: #25282F;
}
/* line 33, ../scss/checknmate.scss */
.side-menu-container .side-menu-header {
  height: 141px;
  background-color: transparent;
}
/* line 36, ../scss/checknmate.scss */
.side-menu-container .side-menu-header .title-side-menu {
  margin-top: 115px;
  color: white;
  height: 25px !important;
  line-height: 25px !important;
}

/* line 44, ../scss/checknmate.scss */
.side-menu-button-bar {
  background-color: transparent;
  color: #F6F1ED;
  height: 60px;
  padding: 0 23px;
}
/* line 49, ../scss/checknmate.scss */
.side-menu-button-bar .button-item {
  line-height: 25px;
  background-color: transparent;
  border: 0px;
  color: #6B6E75 !important;
}
/* line 54, ../scss/checknmate.scss */
.side-menu-button-bar .button-item span {
  color: #F6F1ED;
}

/* line 59, ../scss/checknmate.scss */
.divider {
  border-right: 1px solid #6B6E75 !important;
  height: 30px;
  margin: auto 0;
}

/* line 64, ../scss/checknmate.scss */
.vertical-divider {
  border-bottom: 1px solid #6B6E75 !important;
  width: 160px;
  margin: 0 auto;
}

/* line 70, ../scss/checknmate.scss */
.sidemenu-img {
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background: transparent;
  border: 1px solid #5B5C56;
}
/* line 78, ../scss/checknmate.scss */
.sidemenu-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
