/* line 4, ../scss/checknmate.scss */
.side-menu-header {
  height: 150px;
  background-color: transparent;
}
/* line 7, ../scss/checknmate.scss */
.side-menu-header .title-side-menu {
  color: white;
  height: 100px !important;
  line-height: 100px !important;
}

/* line 13, ../scss/checknmate.scss */
.side-menu {
  top: 151px;
}

/* line 16, ../scss/checknmate.scss */
.list-sidemenu {
  color: #F6F1ED;
  background-color: transparent;
  text-align: center;
}
/* line 20, ../scss/checknmate.scss */
.list-sidemenu .list-item-sidemenu {
  background-color: transparent;
  border: 0px;
  padding-left: 0px;
}

/* line 26, ../scss/checknmate.scss */
.side-menu-container {
  background-color: #25282F;
}
