/* line 1, ../scss/checknmate.scss */
.side-menu-header {
  height: 100px !important;
}

/* line 4, ../scss/checknmate.scss */
.side-menu {
  top: 101px;
}

/* line 7, ../scss/checknmate.scss */
.title-sidemenu {
  height: 100px !important;
  line-height: 100px !important;
}
