$wallpaper-color: #25282F;
$text-color:#F6F1ED;

.side-menu-header{
	height: 150px;
	background-color: transparent;
	.title-side-menu{
	color:white;
	height:100px !important;
	line-height: 100px !important;
	}
}
.side-menu{
	top:151px;
}
.list-sidemenu{
	color: $text-color;
	background-color: transparent;
	text-align: center;
	.list-item-sidemenu{
		background-color: transparent;
		border: 0px;
		padding-left: 0px;
	}
}
.side-menu-container{
	background-color: $wallpaper-color;
}