$wallpaper-color: #25282F;
body{
	font-family: arial;
	font-size: 10px;
}

.side-menu-header{
	height: 150px;
	.title-side-menu{
	color:white;
	height:100px !important;
	line-height: 100px !important;
	}
}
.side-menu{
	top:101px;
}

